body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    display: flex;
    margin: 0;
    text-align: left;
    font-size: 36px;
    
}


 .login-btn  {
    margin-left: 1590px;
    margin-top: -50px;
    height: 50px;
    background-color: #1E1E1E;
    outline: none;
    border-radius: 40px;
    border: 4px solid rgb(76, 175, 80, 10);
    color: white;
    font-size: 24px;
    font-weight: 600;

}

.cart-button {
       display: flex;
        margin-top: -50px;
        width: 50px;
        height: 50px;
        background: none;
        
}

.cart-button i {
    font-size: 30px; /* Adjust the font size as needed for visibility */
    color: #ffffff;
}

.button-container {
        display: flex;
        
}
nav ul {
    list-style-type: none;
    padding: 0;
    

}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 24px;
    
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #4CAF50;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: #252525;
    margin: 10px;
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #1E1E1E;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



